.home-container {
  width: 100%;
  min-height: calc(100vh - 100px);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.rooms {
  display: flex;
  padding: 0 5rem;
  width: 100%;
  justify-content: space-around;
  margin: -100px 0 70px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
}

.card-container a {
  text-decoration: none;
  color: black;
}
